<extend name="Public:base" />
<block name="topnav">
	<include file="Public:topnav" />
</block>
<block name="sidebar">
	<include file="Public:menu" />
</block>
<block name="content">
<div class="rightBox"> 
	<ol class="breadcrumb">
		<li><i class="glyphicon glyphicon-home"></i> <a href="#">主页面</a></li>
		<li><a href="#">系统用户管理</a></li>
		<li class="active">创建新用户</li>
	</ol>

	<div class="panel panel-default">
	  <div class="panel-heading"> <i class="glyphicon glyphicon-pencil"></i> 创建新用户 </div>
	  <div class="panel-body">

		<form class="form-horizontal" action="{:U('Admin/adminInsert')}" method="post">

		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">分配角色 </label>
			<div class="col-sm-6">
			  <select name="aule" id="aule"  class="form-control">
			  	<option value="">[请选择]</option>
			  	<volist name="auleList" id="vo">
			  		<option value="{$vo.id}">{$vo.title}</option>
			  	</volist>
			  </select>
			</div>
			<div class="col-sm-4 form-col-right"> 
				*
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">登录名 </label>
			<div class="col-sm-6">
			  <input type="text" class="form-control" id="name" name="name" placeholder="登录名" value="">
			</div>
			<div class="col-sm-4 form-col-right"> 
				*
			</div>
		</div> 

		<div class="form-group">
			<label for="pwd" class="col-sm-2 control-label">密码 </label>
			<div class="col-sm-6">
			  <input type="password" class="form-control" id="pwd" name="pwd" placeholder="" value="">
			</div>
			<div class="col-sm-4 form-col-right">*</div>
		</div> 

		<div class="form-group">
			<label for="nickname" class="col-sm-2 control-label">昵称 </label>
			<div class="col-sm-6">
			  <input type="text" class="form-control" id="nickname" name="nickname" placeholder="昵称" value="">
			</div>
			<div class="col-sm-4 form-col-right"></div>
		</div> 

		<div class="form-group">
			<label for="tel" class="col-sm-2 control-label">电话 </label>
			<div class="col-sm-6">
			  <input type="tel" class="form-control" id="tel" name="tel" placeholder="13400000000" value="">
			</div>
			<div class="col-sm-4 form-col-right"> </div>
		</div> 

		<div class="form-group">
			<label for="email" class="col-sm-2 control-label">邮箱 </label>
			<div class="col-sm-6">
			  <input type="email" class="form-control" id="email" name="email" placeholder="442165035@qq.com" value="">
			</div>
			<div class="col-sm-4 form-col-right"> </div>
		</div> 

		<div class="form-group">
			<label for="headUrl" class="col-sm-2 control-label">头像 </label>
			<div class="col-sm-6 flupload"></div>
			<div class="col-sm-4 form-col-right"></div>
		</div> 

		<div class="form-group">
			<label for="status" class="col-sm-2 control-label">状态 </label>
			<div class="col-sm-6"> 
			  	<input type="radio" name="status" value="1" checked>启用&nbsp;&nbsp;
			  	<input type="radio" name="status" value="0">禁用&nbsp;&nbsp;   
			</div>
			<div class="col-sm-4 form-col-right"> </div>
		</div> 
		
		<input type="hidden" id="headUrl-base64" name="headUrl-base64" value=""/>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
			  <button type="submit" class="btn btn-default">创建</button>
			</div>
		</div>
		 
		</form> 
		 
	  </div><!-- panel-body -->
	</div><!-- end panel -->
	
</div><!-- end roghtBox -->
</block>
<block name="subscript">
<script src="__PUBLIC__/js/jquery.flupload.js"></script>
<script>
$.flUpload.init({
	'element':'.flupload',
	'addUrl':"{:U('Base/uploadImage')}",
	'delUrl':"{:U('Base/delUploadImage')}",
}); 
</script>
</block>